:root{
    --text-shadow-color: #a3b5dd;
    --box-shadow-color: #8094c2;
    color-scheme: only light;
}

*{
    color-scheme: only light;
    margin: 0;
    padding: 0;
    user-select: none;
}

.text{
    color: #ffffff;
    
    text-shadow: 2px 0 #ABC4FF, -2px 0 #ABC4FF, 0 2px #ABC4FF, 0 -2px #ABC4FF, 4px 4px var(--text-shadow-color);
    
    text-align: center;
    font-family: monospace;
    font-weight: 900;
}

.item{
    border:4px solid #ABC4FF;
    background-color: #B6CCFE;
    box-shadow: 10px 10px var(--box-shadow-color);
    height: 300px;
    width: 200px;
    border-radius: 10px 0;
    position:relative;
    margin:15px 20px;
    display:inline-block;
}

.item:hover{
    background-color: #E2EAFC;
}

.paragraph{
    color: #a3b5dd;

    font-size: 20px;
    font-family: monospace;

    text-align: center;
    padding: 0 10px;
}

.media {
    vertical-align: top;
    border:4px solid #ABC4FF;
    background-color: #B6CCFE;
    box-shadow: 10px 10px var(--box-shadow-color);
    height: 100px;
    width: 100px;
    border-radius: 10px 0;
    position:relative;
    margin:15px 20px;
    display:inline-block;
}

.media:hover{
    background-color: #E2EAFC;
}

.item-button{
    width: 100%;
    height: 100%;

    position: absolute;
    display: block;
}

.screenshot{
    border:4px solid #ABC4FF;
    background-color: #B6CCFE;
    box-shadow: 10px 10px var(--box-shadow-color);
    height: 250px;
    width: 400px;
    border-radius: 10px 0;
    position: relative;
    margin:15px 20px;
    display: inline-block;
}
